<form [formGroup]="registerForm">
    <div class="form-group">
        <label for="exampleInputEmail1">Id</label>
        <input type="number" class="form-control" id="id" formControlName="id" >
    </div>
    <div class="alert alert-danger" *ngIf="this.registerForm.controls['id'].invalid  &&this.registerForm.controls['id'].touched">
        <p *ngIf="this.registerForm.get('id')?.hasError('required')">id required</p>
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">titre</label>
        <input type="text" class="form-control" formControlName="titre" >
    </div>
    <div class="alert alert-danger" *ngIf="this.registerForm.get('titre')?.invalid && this.registerForm.controls['titre'].touched">
        <p *ngIf="this.registerForm.controls['titre'].hasError('required')">titre required</p>
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">description</label>
        <input type="text" class="form-control" formControlName="description" >
    </div>
    <div class="alert alert-danger" *ngIf="this.registerForm.get('description')?.invalid && this.registerForm.controls['description'].touched">
        <p *ngIf="this.registerForm.controls['description'].hasError('required')">description required</p>
        <p *ngIf="this.registerForm.controls['description'].hasError('minLength')">description doit etre min 3 charaacters</p>
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">entreprise</label>
        <input type="text" class="form-control" formControlName="entreprise" >
    </div>
    <div class="alert alert-danger" *ngIf="this.registerForm.get('entreprise')?.invalid && this.registerForm.controls['entreprise'].touched">
        <p *ngIf="this.registerForm.controls['entreprise'].hasError('required')">entreprise required</p>
    </div>


    <div class="form-group">
        <label for="exampleInputPassword1">disponible</label>
        <input type="text" class="form-control" formControlName="disponible" >
    </div>
    <div class="alert alert-danger" *ngIf="this.registerForm.get('disponible')?.invalid && this.registerForm.controls['disponible'].touched">
        <p *ngIf="this.registerForm.controls['disponible'].hasError('required')">disponible required</p>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid" (click)="save()">Submit</button>
</form>